{% extends 'base.html.twig' %}

{% block title %}home
{% endblock %}

{% block body %}

 {% include "_navbar.html.twig" %}

{# a propos #}
    <section class="profil">
        <div class ="card-profil">
            <div class="picture-profil">
                <img src="{{ asset('build/images/profil.jpeg') }}">
            </div>
            <div class="skill-profil">
                <h1>Compétence</h1>
                {% for skill in skills %}
                    <p>{{skill.name}}</p>
                {% endfor %}
            </div>
        </div> 
        <div class="about" id="about-section">
            <h1>à propos</h1>
            <p> blbablabkabablala test</p>
        </div>
    </section>

{# projet #}
    <section class="my-project">
        <div class="slider">
            {% for project in projects %}
                <div>
                    <div>{{project.startDate|date("m/d/Y")}}</div>
                    <div>{{project.endDate|date("m/d/Y")}}</div>
                    <div>{{project.picture}}</div>
                    <div>{{project.description}}</div>
                    <a href="{{project.link}}">voir le projet</a>
                </div>
            {% endfor %}
        </div>
    </section>

{#login admin#}

<div class="admin">
    {% if app.user %}
        <li><a href="/logout">Déconnexion</a></li>
    {% endif %}
</div>
{% endblock %}